<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <addPersonalizationVariables>
        <processor type="Sitecore.Support.ContentTesting.Pipelines.AddPersonalizationVariables.AddRules, Sitecore.Support.108363" patch:instead="*[@type='Sitecore.ContentTesting.Pipelines.AddPersonalizationVariables.AddRules, Sitecore.ContentTesting']" />
      </addPersonalizationVariables>
    </pipelines>
  </sitecore>
</configuration>